<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Clean" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%msg%n" />
        </Console>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="File" fileName="bwapi-data/write/BWAPI4J.log" ignoreExceptions="false"
            filePattern="bwapi-data/write/app-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>
    </Appenders>
    <Loggers>
    
    	<!-- set log levels for individual classes like this -->
		<Logger name="org.openbw.bwapi4j.BW"							level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="File"/></Logger>
	    
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>