bin/
.classpath
build/
QuickFileWriter.java
src/test/resources/mockdata/*.txt
*.bmp
*.png
src/main/java/jsd/
log4j2-test.xml
src/test/resources/mockdata/DummyBwemData/
AnyTest.java

# BW
BrooDat.mpq
Patch_rt.mpq
StarDat.mpq
maps/
bwapi-data/bwapi.ini

# Gradle
.gradle/
gradle.properties

# NetBeans
.nb-gradle/

# IntelliJ
BWAPI4J.iml
.idea/
out/
