bin/
.classpath
build/
QuickFileWriter.java
src/test/resources/mockdata/*.txt
*.bmp
*.png
src/main/java/jsd/
log4j2-test.xml
src/test/resources/mockdata/DummyBwemData/
src/test/resources/mockdata/DummyBwapiData/
AnyTest.java

# BW
*.mpq
maps/
bwapi-data/bwapi.ini
bwapi-data/AI/

# Gradle
.gradle/
gradle.properties

# NetBeans
.nb-gradle/
nbproject/

# IntelliJ
*.iml
.idea/
out/
